StreamvaultWatch/DebugConfig.json
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
.build/
.swiftpm/
xcuserdata/
*.moved-aside
*.orig
*.xccheckout
*.xcscmblueprint
.DS_Store
